<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Animal</title>

</head>
<body>
    <form th:action="@{/animal-form(clientId=${param.clientId})}" method="post">
        Nome: <input name="nome"/><br />
        Nascimento: <input type="date" name="dataNascimento" th:field="${animal.dataNascimento.data}" /><br />
        Espécie:
        <select name="especie">
            <option th:each="especie : ${especies}"
                    th:value="${especie}"
                    th:text="${especie}"></option>
        </select>

        <input type="hidden" name="clientId" th:value="${param.clientId}"><br />
        <input type="submit" value="Adicionar" />
    </form>

    <label th:text="${erro}" style="color:red;"></label>

    <br />

    <a th:href="@{/animais-listar(clientId=${param.clientId})}">Voltar</a>

</body>
</html>